.header-text
{
    font-size: 50px;
    font-weight: bolder;
    color: wheat;
    background-color: blue;
    text-align: center;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
.innercontainer
{
    font-size: 50px;
    font-weight: bolder;
    border: solid 2px black;

    width: 40%;
    text-align: center;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
    box-shadow: 10px 10px 5px rgb(161, 88, 230);
    margin-top: 200px;
    margin-left: 400px;
}
body
{
    background-image:url(./d4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}